@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap');

.header-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ffffff;
    margin-top: 38px;
}

.header-anchors a{
    text-decoration: none;
    color: #ffffff;
    margin: 50px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}